In [4]:
import pandas as pd

data_mark = pd.read_clipboard()

# Menampilkan data
print(data_mark)

        Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal
0     Shalwa      P      2024           159                15          Cideng
1     Sheila      P      2024           152                60          Cawang
2   Silviana      P      2024           160                60          Cakung
3       Mark      L      2024           160                90           Depok
4    Haechan      L      2024           165                90          Gambir
5     Jaemin      L      2024           159                10         Tawakal
6        Woi      L      2024           175                60           Bogor
7        Iya      L      2024           170                10         Tawakal
8        Hai      L      2024           170                10          Grogol
9       Halo      P      2024           170                10         Tawakal
10      Maul      L      2024           160                90           Depok
11      Amer      L      2024           170                80         Tangsel
12       Bon      L      2024           180                60           Poris
13     Tegal      L      2024           150                10         Tawakal
14     Falih      L      2024           170                10         Tawakal
15      Arif      L      2024           170                10          Grogol
16      Yuda      L      2024           180                10   Tanjung Duren
17     Celvi      P      2024           170                10         Tawakal
18      Vivi      P      2024           160                10          Susilo
19     Salsa      P      2024           155                20     Kemanggisan
20      Ucup      L      2024           165                60         Tangsel
21      Afif      L      2024           160                30   Tanjung Duren
22     Fajar      L      2024           160                30     Kemanggisan
23      Tito      L      2024           170                40          Susilo
24  Kharisma      P      2022           160                23          Grogol
25     Tarum      P      2022           160                20           Poris
26     Felix      L      2023           170                10       Kebayoran
27    Adrian      L      2022           180                10           Poris
28       Ano      L      2023           160                10          Grogol

In [6]:
mark = data_mark[data_mark['Tinggi Badan'] == 170]

# Menampilkan nama
print(mark)

     Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal
7     Iya      L      2024           170                10         Tawakal
8     Hai      L      2024           170                10          Grogol
9    Halo      P      2024           170                10         Tawakal
11   Amer      L      2024           170                80         Tangsel
14  Falih      L      2024           170                10         Tawakal
15   Arif      L      2024           170                10          Grogol
17  Celvi      P      2024           170                10         Tawakal
23   Tito      L      2024           170                40          Susilo
26  Felix      L      2023           170                10       Kebayoran

In [16]:
import pandas as pd

mark = pd.read_csv('BahanPraktikum1.csv')

mark['Kategori Tinggi'] = mark['Tinggi Badan'].apply(lambda x: 'Tinggi' if x > 160 else 'Pendek')

print(mark)

        Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal  \
0     Shalwa      P      2024           159                15          Cideng
1     Sheila      P      2024           152                60          Cawang
2   Silviana      P      2024           160                60          Cakung
3       Mark      L      2024           160                90           Depok
4    Haechan      L      2024           165                90          Gambir
5     Jaemin      L      2024           159                10         Tawakal
6        Woi      L      2024           175                60           Bogor
7        Iya      L      2024           170                10         Tawakal
8        Hai      L      2024           170                10          Grogol
9       Halo      P      2024           170                10         Tawakal
10      Maul      L      2024           160                90           Depok
11      Amer      L      2024           170                80         Tangsel
12       Bon      L      2024           180                60           Poris
13     Tegal      L      2024           150                10         Tawakal
14     Falih      L      2024           170                10         Tawakal
15      Arif      L      2024           170                10          Grogol
16      Yuda      L      2024           180                10   Tanjung Duren
17     Celvi      P      2024           170                10         Tawakal
18      Vivi      P      2024           160                10          Susilo
19     Salsa      P      2024           155                20     Kemanggisan
20      Ucup      L      2024           165                60         Tangsel
21      Afif      L      2024           160                30   Tanjung Duren
22     Fajar      L      2024           160                30     Kemanggisan
23      Tito      L      2024           170                40          Susilo
24  Kharisma      P      2022           160                23          Grogol
25     Tarum      P      2022           160                20           Poris
26     Felix      L      2023           170                10       Kebayoran
27    Adrian      L      2022           180                10           Poris
28       Ano      L      2023           160                10          Grogol

   Kategori Tinggi
0           Pendek
1           Pendek
2           Pendek
3           Pendek
4           Tinggi
5           Pendek
6           Tinggi
7           Tinggi
8           Tinggi
9           Tinggi
10          Pendek
11          Tinggi
12          Tinggi
13          Pendek
14          Tinggi
15          Tinggi
16          Tinggi
17          Tinggi
18          Pendek
19          Pendek
20          Tinggi
21          Pendek
22          Pendek
23          Tinggi
24          Pendek
25          Pendek
26          Tinggi
27          Tinggi
28          Pendek

In [34]:
import numpy as np

mark['Jurusan'] = np.full(len(mark), 'Infor24')
mark['Fakultas'] = np.full(len(mark), 'FTI')

print(mark)

        Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal  \
0     Shalwa      P      2024           159                15          Cideng
1     Sheila      P      2024           152                60          Cawang
2   Silviana      P      2024           160                60          Cakung
3       Mark      L      2024           160                90           Depok
4    Haechan      L      2024           165                90          Gambir
5     Jaemin      L      2024           159                10         Tawakal
6        Woi      L      2024           175                60           Bogor
7        Iya      L      2024           170                10         Tawakal
8        Hai      L      2024           170                10          Grogol
9       Halo      P      2024           170                10         Tawakal
10      Maul      L      2024           160                90           Depok
11      Amer      L      2024           170                80         Tangsel
12       Bon      L      2024           180                60           Poris
13     Tegal      L      2024           150                10         Tawakal
14     Falih      L      2024           170                10         Tawakal
15      Arif      L      2024           170                10          Grogol
16      Yuda      L      2024           180                10   Tanjung Duren
17     Celvi      P      2024           170                10         Tawakal
18      Vivi      P      2024           160                10          Susilo
19     Salsa      P      2024           155                20     Kemanggisan
20      Ucup      L      2024           165                60         Tangsel
21      Afif      L      2024           160                30   Tanjung Duren
22     Fajar      L      2024           160                30     Kemanggisan
23      Tito      L      2024           170                40          Susilo
24  Kharisma      P      2022           160                23          Grogol
25     Tarum      P      2022           160                20           Poris
26     Felix      L      2023           170                10       Kebayoran
27    Adrian      L      2022           180                10           Poris
28       Ano      L      2023           160                10          Grogol

   Kategori Tinggi  Jurusan Fakultas
0           Pendek  Infor24      FTI
1           Pendek  Infor24      FTI
2           Pendek  Infor24      FTI
3           Pendek  Infor24      FTI
4           Tinggi  Infor24      FTI
5           Pendek  Infor24      FTI
6           Tinggi  Infor24      FTI
7           Tinggi  Infor24      FTI
8           Tinggi  Infor24      FTI
9           Tinggi  Infor24      FTI
10          Pendek  Infor24      FTI
11          Tinggi  Infor24      FTI
12          Tinggi  Infor24      FTI
13          Pendek  Infor24      FTI
14          Tinggi  Infor24      FTI
15          Tinggi  Infor24      FTI
16          Tinggi  Infor24      FTI
17          Tinggi  Infor24      FTI
18          Pendek  Infor24      FTI
19          Pendek  Infor24      FTI
20          Tinggi  Infor24      FTI
21          Pendek  Infor24      FTI
22          Pendek  Infor24      FTI
23          Tinggi  Infor24      FTI
24          Pendek  Infor24      FTI
25          Pendek  Infor24      FTI
26          Tinggi  Infor24      FTI
27          Tinggi  Infor24      FTI
28          Pendek  Infor24      FTI

In [36]:
mark = mark.drop(columns=['Fakultas'])
print(mark)

        Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal  \
0     Shalwa      P      2024           159                15          Cideng
1     Sheila      P      2024           152                60          Cawang
2   Silviana      P      2024           160                60          Cakung
3       Mark      L      2024           160                90           Depok
4    Haechan      L      2024           165                90          Gambir
5     Jaemin      L      2024           159                10         Tawakal
6        Woi      L      2024           175                60           Bogor
7        Iya      L      2024           170                10         Tawakal
8        Hai      L      2024           170                10          Grogol
9       Halo      P      2024           170                10         Tawakal
10      Maul      L      2024           160                90           Depok
11      Amer      L      2024           170                80         Tangsel
12       Bon      L      2024           180                60           Poris
13     Tegal      L      2024           150                10         Tawakal
14     Falih      L      2024           170                10         Tawakal
15      Arif      L      2024           170                10          Grogol
16      Yuda      L      2024           180                10   Tanjung Duren
17     Celvi      P      2024           170                10         Tawakal
18      Vivi      P      2024           160                10          Susilo
19     Salsa      P      2024           155                20     Kemanggisan
20      Ucup      L      2024           165                60         Tangsel
21      Afif      L      2024           160                30   Tanjung Duren
22     Fajar      L      2024           160                30     Kemanggisan
23      Tito      L      2024           170                40          Susilo
24  Kharisma      P      2022           160                23          Grogol
25     Tarum      P      2022           160                20           Poris
26     Felix      L      2023           170                10       Kebayoran
27    Adrian      L      2022           180                10           Poris
28       Ano      L      2023           160                10          Grogol

   Kategori Tinggi  Jurusan
0           Pendek  Infor24
1           Pendek  Infor24
2           Pendek  Infor24
3           Pendek  Infor24
4           Tinggi  Infor24
5           Pendek  Infor24
6           Tinggi  Infor24
7           Tinggi  Infor24
8           Tinggi  Infor24
9           Tinggi  Infor24
10          Pendek  Infor24
11          Tinggi  Infor24
12          Tinggi  Infor24
13          Pendek  Infor24
14          Tinggi  Infor24
15          Tinggi  Infor24
16          Tinggi  Infor24
17          Tinggi  Infor24
18          Pendek  Infor24
19          Pendek  Infor24
20          Tinggi  Infor24
21          Pendek  Infor24
22          Pendek  Infor24
23          Tinggi  Infor24
24          Pendek  Infor24
25          Pendek  Infor24
26          Tinggi  Infor24
27          Tinggi  Infor24
28          Pendek  Infor24

In [38]:
namadangender = mark.iloc[:, 0:2]
print(namadangender)

        Nama Gender
0     Shalwa      P
1     Sheila      P
2   Silviana      P
3       Mark      L
4    Haechan      L
5     Jaemin      L
6        Woi      L
7        Iya      L
8        Hai      L
9       Halo      P
10      Maul      L
11      Amer      L
12       Bon      L
13     Tegal      L
14     Falih      L
15      Arif      L
16      Yuda      L
17     Celvi      P
18      Vivi      P
19     Salsa      P
20      Ucup      L
21      Afif      L
22     Fajar      L
23      Tito      L
24  Kharisma      P
25     Tarum      P
26     Felix      L
27    Adrian      L
28       Ano      L

In [42]:
angkatantb = mark.iloc[:, 2:4]
print(angkatantb)

    Angkatan  Tinggi Badan
0       2024           159
1       2024           152
2       2024           160
3       2024           160
4       2024           165
5       2024           159
6       2024           175
7       2024           170
8       2024           170
9       2024           170
10      2024           160
11      2024           170
12      2024           180
13      2024           150
14      2024           170
15      2024           170
16      2024           180
17      2024           170
18      2024           160
19      2024           155
20      2024           165
21      2024           160
22      2024           160
23      2024           170
24      2022           160
25      2022           160
26      2023           170
27      2022           180
28      2023           160

In [44]:
# Menggabungkan dua DataFrame 
gabungan = pd.concat([namadangender, angkatantb], axis=1)

# Menampilkan DataFrame gabungan
print(gabungan)

        Nama Gender  Angkatan  Tinggi Badan
0     Shalwa      P      2024           159
1     Sheila      P      2024           152
2   Silviana      P      2024           160
3       Mark      L      2024           160
4    Haechan      L      2024           165
5     Jaemin      L      2024           159
6        Woi      L      2024           175
7        Iya      L      2024           170
8        Hai      L      2024           170
9       Halo      P      2024           170
10      Maul      L      2024           160
11      Amer      L      2024           170
12       Bon      L      2024           180
13     Tegal      L      2024           150
14     Falih      L      2024           170
15      Arif      L      2024           170
16      Yuda      L      2024           180
17     Celvi      P      2024           170
18      Vivi      P      2024           160
19     Salsa      P      2024           155
20      Ucup      L      2024           165
21      Afif      L      2024           160
22     Fajar      L      2024           160
23      Tito      L      2024           170
24  Kharisma      P      2022           160
25     Tarum      P      2022           160
26     Felix      L      2023           170
27    Adrian      L      2022           180
28       Ano      L      2023           160

In [50]:
import pandas as pd

baris1sd5 = mark.iloc[0:5, :]

# Menampilkan DataFrame baris1sd5
print(baris1sd5)

       Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal  \
0    Shalwa      P      2024           159                15          Cideng
1    Sheila      P      2024           152                60          Cawang
2  Silviana      P      2024           160                60          Cakung
3      Mark      L      2024           160                90           Depok
4   Haechan      L      2024           165                90          Gambir

  Kategori Tinggi  Jurusan
0          Pendek  Infor24
1          Pendek  Infor24
2          Pendek  Infor24
3          Pendek  Infor24
4          Tinggi  Infor24

In [54]:
import pandas as pd

baris23sd28 = mark.iloc[23:28, :]

# Menampilkan DataFrame baris25sd30
print(baris23sd28)

        Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal  \
23      Tito      L      2024           170                40          Susilo
24  Kharisma      P      2022           160                23          Grogol
25     Tarum      P      2022           160                20           Poris
26     Felix      L      2023           170                10       Kebayoran
27    Adrian      L      2022           180                10           Poris

   Kategori Tinggi  Jurusan
23          Tinggi  Infor24
24          Pendek  Infor24
25          Pendek  Infor24
26          Tinggi  Infor24
27          Tinggi  Infor24

In [56]:
import pandas as pd

# Menggabungkan baris dari dua DataFrame
baris1sd5 = mark.iloc[0:5, :]
baris23sd28 = mark.iloc[23:28, :]
barisgabung = pd.concat([baris1sd5, baris23sd28])

# Menampilkan DataFrame barisgabung
print(barisgabung)

        Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal  \
0     Shalwa      P      2024           159                15          Cideng
1     Sheila      P      2024           152                60          Cawang
2   Silviana      P      2024           160                60          Cakung
3       Mark      L      2024           160                90           Depok
4    Haechan      L      2024           165                90          Gambir
23      Tito      L      2024           170                40          Susilo
24  Kharisma      P      2022           160                23          Grogol
25     Tarum      P      2022           160                20           Poris
26     Felix      L      2023           170                10       Kebayoran
27    Adrian      L      2022           180                10           Poris

   Kategori Tinggi  Jurusan
0           Pendek  Infor24
1           Pendek  Infor24
2           Pendek  Infor24
3           Pendek  Infor24
4           Tinggi  Infor24
23          Tinggi  Infor24
24          Pendek  Infor24
25          Pendek  Infor24
26          Tinggi  Infor24
27          Tinggi  Infor24

In [58]:
mark_sort = mark.sort_values(by='Waktu Perjalanan')

print(mark_sort)

        Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal  \
14     Falih      L      2024           170                10         Tawakal
26     Felix      L      2023           170                10       Kebayoran
18      Vivi      P      2024           160                10          Susilo
17     Celvi      P      2024           170                10         Tawakal
16      Yuda      L      2024           180                10   Tanjung Duren
15      Arif      L      2024           170                10          Grogol
27    Adrian      L      2022           180                10           Poris
13     Tegal      L      2024           150                10         Tawakal
9       Halo      P      2024           170                10         Tawakal
28       Ano      L      2023           160                10          Grogol
8        Hai      L      2024           170                10          Grogol
7        Iya      L      2024           170                10         Tawakal
5     Jaemin      L      2024           159                10         Tawakal
0     Shalwa      P      2024           159                15          Cideng
25     Tarum      P      2022           160                20           Poris
19     Salsa      P      2024           155                20     Kemanggisan
24  Kharisma      P      2022           160                23          Grogol
21      Afif      L      2024           160                30   Tanjung Duren
22     Fajar      L      2024           160                30     Kemanggisan
23      Tito      L      2024           170                40          Susilo
2   Silviana      P      2024           160                60          Cakung
12       Bon      L      2024           180                60           Poris
20      Ucup      L      2024           165                60         Tangsel
1     Sheila      P      2024           152                60          Cawang
6        Woi      L      2024           175                60           Bogor
11      Amer      L      2024           170                80         Tangsel
4    Haechan      L      2024           165                90          Gambir
3       Mark      L      2024           160                90           Depok
10      Maul      L      2024           160                90           Depok

   Kategori Tinggi  Jurusan
14          Tinggi  Infor24
26          Tinggi  Infor24
18          Pendek  Infor24
17          Tinggi  Infor24
16          Tinggi  Infor24
15          Tinggi  Infor24
27          Tinggi  Infor24
13          Pendek  Infor24
9           Tinggi  Infor24
28          Pendek  Infor24
8           Tinggi  Infor24
7           Tinggi  Infor24
5           Pendek  Infor24
0           Pendek  Infor24
25          Pendek  Infor24
19          Pendek  Infor24
24          Pendek  Infor24
21          Pendek  Infor24
22          Pendek  Infor24
23          Tinggi  Infor24
2           Pendek  Infor24
12          Tinggi  Infor24
20          Tinggi  Infor24
1           Pendek  Infor24
6           Tinggi  Infor24
11          Tinggi  Infor24
4           Tinggi  Infor24
3           Pendek  Infor24
10          Pendek  Infor24